body { 
 font-family: helvetica, sans-serif;
 margin: 0px;
}

.active a {
	color: #0e00ff;
	font-weight: 700;
}

#topbar a {
	text-decoration: none;
	color: #0f0f0f;
	font-size: 18px;
}

#topbar {
	border-bottom: 1px solid #95a5a6;
}

.element {
	text-align: center;
	height: 38px; 
}

#topbar a:hover {
	color: #2980b9;
	
}

.active {
	border-bottom: 4px solid #34495e;
}

.imagecontainer {
	background-color: #f1f1f1;
}

.image {
	padding-left: 12%;
	padding-right: 12%;
}

.imagecaption {
	margin-top: 12px;
	font-family: 'Lora', serif;
	font-size: 17px;
	text-align: center;
	color: rgb(104,104,104);
	font-style: italic;
}

.imagecaption hr {
	width: 30%;
	color: rgba(255,255,255,0);
	border-bottom: 0.5px solid rgb(104,104,104);
}

h1 {
	font-family: helvetica, sans-serif;
	font-weigth: 200;
	color: #1f1f1f;
	font-size: 48px;
	margin-bottom: 0px;
}

h2 {
	font-family: helvetica, sans-serif;
	font-weigth: 500;
	color: #1f1f1f;
	font-size: 24px;
	margin-bottom: 0px;	
}

p {
	font-family: 'Lora', serif;
	font-size: 19px;
	color: #1f1f1f;

}


.quote {
	font-family: helvetica, sans-serif;
	font-size: 24px;
	font-weight: 100;
	margin-left: 16.66667%;
	margin-right: 16.66667%;
	padding: 5px;
	color: #1f1f1f;
	
	border-left: 4px solid #34495e;

}

img {
	width: 100%;
	border-radius: 4px;
}

.video {
    width: 100%; 
}

#footer {
    background-color: #34495e;
    color: #ecf0f1;
    padding-left: 16.66666%;
    padding-right: 16.66666%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border-top: 1px solid #2c3e50;    
}

#footer div {
    display: inline-block;
}

#footer #right {
    float: right;
}

/* veranderen bij klein-groter beeldscherm*/

@media (min-width: 481px) {
    .element {
	   display: inline-block;
	   width: 16.666666%;
    }
    
    .container {
	margin-left: 16.666667%;
	margin-right: 16.66667%;
}
}


@media (max-width: 480px) {
    .element {
	   display: block;
	   width: 100%;
    }
    
    .container {
	margin-left: 5%;
	margin-right: 5%;
}
}